:root {
    --Texte-Principal: rgb(34, 47, 62);
    --Texte-Boutons: rgb(255, 255 ,255);
    --Fond-de-Page: rgb(10, 68, 12);         
    --Fond-des-Sections: rgba(255, 255, 255, 0.7); 
    --Boutons: rgba(32, 104, 17, 0.7);         
    --Boutons-bordure: rgb(41, 129, 23);         
    --Boutons-hover: rgba(230, 230, 230, 0.7);   
}
@font-face {
    font-family: 'Titreh1';
    src: url(./font/Goldman-Bold.ttf);
}
@font-face {
    font-family: 'Titreh2';
    src: url(./font/Goldman-Regular.ttf);
}
@font-face {
    font-family: 'Titreh3';
    src: url(./font/FunnelDisplay-Bold.ttf);
}
@font-face {
    font-family: 'paragraphe';
    src: url(./font/FunnelDisplay-Regular.ttf);
}
@font-face {
    font-family: 'bouton';
    src: url(./font/FunnelDisplay-SemiBold.ttf);
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: var(--Fond-de-Page);
    color: var(--Texte-Principal);
    position: relative;
    margin: 0;
    background-image: url(img/fond/fond-feuilles.png);
    background-attachment: fixed;
}
h1{
    font-family: 'Titreh1';
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
}
h2{
    font-family: 'Titreh2';
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 0 0;
}
h3{
    font-family: 'Titreh3';
    font-size: 2rem;
    text-align: center;
    width: 90%;
    padding-top: 2rem;
    margin: 0 5%;
    height: 5rem;
}
p {
    font-family: 'paragraphe';
    font-size: 1.5rem;
    width: 90%;
    margin: 1rem 5%;
    text-align: center;
};
main {
    position: relative;
    z-index: 2;
    /* Z-index supérieur pour ces éléments afin qu'ils se trouvent au-dessus du canvas */
}


/* ------------------------------------------------HEADER---------------------------------------------------------- */

#header {
    z-index: 3;
    /* le header est au-dessus du canvas de particules */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 5rem 0;
    padding-top: 2rem;
    padding-bottom: 5rem;

    a {
        display: block;
        width: fit-content;
        padding: 1rem;
        border: 2px solid var(--Boutons-bordure);
        border-radius: 1.5rem;
        color: var(--Texte-Principal);
        text-decoration: none;
        transition: .3s ease-in-out;
        font-family: 'bouton';
    }
    a:hover{
        scale: 1.2;
    }


    .monCV {
        background: var(--Boutons);
        color: var(--Texte-Boutons);
    }
    .monCV:hover {
        background-color: var(--Boutons-hover);
        color: var(--Texte-Principal);
        box-shadow: 0 0 2rem var(--Boutons-hover), 0 0 4rem var(--Boutons-hover);
    }


    .pages {
        background: var(--Boutons);
        color: var(--Texte-Boutons);
    }

    .pages:hover {
        background-color: var(--Boutons-hover);
        color: var(--Texte-Principal);
        box-shadow: 0 0 2rem var(--Boutons-hover), 0 0 4rem var(--Boutons-hover);
    }


    .hobbies {
        background: var(--Boutons);
        color: var(--Texte-Boutons);
    }

    .hobbies:hover {
        background-color: var(--Boutons-hover);
        color: var(--Texte-Principal);
        box-shadow: 0 0 2rem var(--Boutons-hover), 0 0 4rem var(--Boutons-hover);
    }
}



.imageheader {
    width: 5rem;
    height: auto;
    border-radius: 50%;
    background-color: var(--Boutons);
    transition: .5s ease-in-out;
    border: 2px solid var(--Boutons-bordure);
}
.imageheader:hover {
    background-color: var(--Boutons-hover);
    scale: 1.2;
    rotate: 360deg;
    box-shadow: 0 0 2rem var(--Boutons-hover), 0 0 4rem var(--Boutons-hover);
}

/* -------------------------------------------------------SECTION MON CV---------------------------------------- */

#section1{
    background-color: var(--Fond-des-Sections);
    box-shadow: 0 0 2rem var(--Fond-des-Sections), 0 0 4rem var(--Fond-des-Sections);
    max-width: 80%;
    margin: 5rem 10% 2rem 10%;
    border-radius: 50px;
    padding: 0.5rem 0;
}

/* -------------------------------------------------------SECTION PROJETS---------------------------------------- */

#section2{
    background: var(--Fond-des-Sections);
    border-radius: 50px;
    max-width: 90%;
    margin:10rem 5% 5rem 5%;
    box-shadow: 0 0 2rem var(--Fond-des-Sections), 0 0 4rem var(--Fond-des-Sections);
}
#projets {
    z-index: 2;/* Assurez-vous que la section des projets est aussi au-dessus */
    margin: 3rem 0;
    max-width: 100%;
    display: grid;
    justify-content: space-around;
    gap: 3rem;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, auto);
    text-align: center;
}

/* Canvas des particules */
canvas {
    z-index: 0;/* Le canvas est en bas, derrière tout le contenu */
}



.articleprojets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    border-radius: 50px;
    /* Bleu avec 70% d'opacité */
    margin: 2rem;
    box-shadow: 0 0 2rem var(--Fond-de-Page), 0 0 4rem var(--Fond-de-Page);
    img {
        width: 90%;
        height: auto;
        border-radius: 20px
    };
    p {
        flex-grow: 1;
        display: flex;
        align-items: center;
        text-align: center;
        padding-bottom: 1rem;
    };
    h3 {
        text-align: center;
        width: 100%;
        margin: 0;
        padding-bottom: 1rem;
    };
}
.button {
    display: block;
    width: fit-content;
    margin: 1rem auto;
    padding: 1rem;
    border: 2px solid var(--Boutons-bordure);
    border-radius: 1.5rem;
    background: var(--Boutons);
    color: var(--Texte-Boutons);
    text-decoration: none;
    transition: .3s ease-in-out;
    font-family: 'bouton';
}

.button:hover {
    color: var(--Texte-Principal);
    background-color: var(--Boutons-hover);
    box-shadow: 0 0 2rem var(--Boutons-hover), 0 0 4rem var(--Boutons-hover);
    scale: 1.2;
}

/* -----------------------------------------------------------PASSIONS----------------------------------------------------------------- */
#section3{
    background: var(--Fond-des-Sections);
    max-width: 90%;
    margin:10rem 5% 5rem 5%;
    border-radius: 50px;
    box-shadow: 0 0 2rem var(--Fond-des-Sections), 0 0 4rem var(--Fond-des-Sections);
}
#escalade{
    display: flex;
    align-items: center;
}

#manga{
    display: flex;
    align-items: center;
}

#jeux{
    display: flex;
    align-items: center;
}
#setup{
    display: flex;
    align-items: center;
}

#lego{
    display: flex;
    align-items: center;
}

.position{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 3rem 5% 3rem 15%;
    padding: 3rem;
    box-shadow: 0 0 2rem var(--Fond-de-Page), 0 0 4rem  var(--Fond-de-Page);
    border-radius: 50px;
}
.position-inverse{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 3rem 15% 3rem 5%;
    padding: 3rem;
    box-shadow: 0 0 2rem var(--Fond-de-Page), 0 0 4rem  var(--Fond-de-Page);
    border-radius: 50px;
}
.slider{
    max-width: 50%;
    margin: 1rem auto;
    overflow: hidden;
}
.slider .slider-img{
    display: flex;
    align-items: center;
    animation: slider 20s infinite ease-in-out;
    text-align: center;
}
.slider-img img{
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}
@keyframes slider {
    0%,
    15% {
        transform: translateX(0);
    }
    20%,
    35% {
        transform: translateX(-100%);
    }
    40%,
    55% {
        transform: translateX(-200%);
    }
    60%,
    75% {
        transform: translateX(-300%);
    }
    80%,
    95% {
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(-500%);
    }
}

@media (max-width: 768px) {
    #projets {
        grid-template-columns: repeat(2, 45%);
        gap: 2rem;
    }
    header{
        flex-direction: column;
        a{margin: 1rem;}
    }
    .position{
        flex-direction: column-reverse;
    }
}

@media (max-width: 425px) {
    #projets{
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 2rem 0;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
        max-width: 90%;
    }
    p {
        font-size: 1rem;
    }
}
