:root {
  --mainColor: #34C6DD;
  --secondaryColor: #0290B8;
}

* {
  box-sizing: border-box;
}

/* Styles globaux */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  color: #444;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--secondaryColor);
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* Largeur des contenus */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: var(--mainColor);
  font-weight: 600;
  font-size: 2.8rem;
  text-align: center;
}

/* Styles du HEADER */

header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

#navbar-toggle {
  border: 1px solid var(--mainColor);
  background-color: #FFF;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

nav .fa-solid {
  color: var(--mainColor);
  font-size: 1.5rem;
}

#navbar-collapse {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(52, 198, 221, 0.9);
  /*display: none;*/
  flex-basis: 100%;
  flex-grow: 1;
  transform: scaleY(0);
  transform-origin: center top;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1024px) {

  #navbar-collapse {
    position: static;
    transform: scaleY(1);
    flex-basis: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 1);
  }

  #navbar-toggle {
    display: none;
  }
}

#navbar-collapse.visible {
  /*display: block;*/
  transform: scaleY(1);
}

#navbar-collapse li {
  text-align: center;
  margin: 0.6rem;
}

#navbar-collapse a {
  color: #FFF;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  transition: All 1s ease-in-out;
  padding: 8px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  #navbar-collapse a {
    color: var(--mainColor);
  }
}

#navbar-collapse a:hover {
  color: var(--secondaryColor);
}

main {
  text-align: justify;
  min-height: 50vh;
}

footer {
  text-align: center;
  padding: 0 2%;
}